---
layout: default
title: Back to Square 1
permalink: /blog/past-ieeeextreme-challenges/ieeeextreme-14-0/back-to-square-1/
tags: ['Markov Chains', 'Probability Theory']
image: "/assets/images/blog/ieeeextreme-14-0/back-to-square-1/cover.jpg"
default_cover_imgs: ["cover1.jpg", "cover2.jpg", "cover3.jpg"]
---

<!-- Main Section-->
<section class="container py-3 " data-scroll-section>
    <!-- Page Content Goes Here -->

    <div class="container">
        <p data-scroll data-scroll-speed="2" data-scroll-position="top" class="my-0"><a href="/" class="text-decoration-none">Home</a>
        <i class="fa fa-angle-right"></i>
<a href="/blog" class="text-decoration-none">Blog</a>
        <i class="fa fa-angle-right"></i>
<a href="/blog/past-ieeeextreme-challenges" class="text-decoration-none">Past IEEEXtreme Challenges</a>
        <i class="fa fa-angle-right"></i>
<a href="/blog/past-ieeeextreme-challenges/ieeeextreme-14-0/" class="text-decoration-none">Posts on IEEEXtreme 14.0</a></p>
        <h1 class="display-3 mb-2" data-scroll data-scroll-speed="2" data-scroll-position="top">{{ page.title }}</h1>
        <div class="d-flex flex-row justify-content-between">
            <p class="subtitle-sm" data-scroll data-scroll-speed="2" data-scroll-position="top">
            {% for tag in page.tags %}
                <span class='me-2'>{{ tag }}</span>
                {% if forloop.last == false %}
                    &middot;
                {% endif %}
            {% endfor %}
            </p>
            <p class="subtitle-sm text-center" data-scroll data-scroll-speed="2" data-scroll-position="top">
                <i class="bi bi-clock"></i>
                <span class='me-2'>5 min read</span>
            </p>
        </div>
        <p class="text-muted" data-scroll data-scroll-speed="2" data-scroll-position="top" style="font-size: 1.8rem;">Solving this problem is very easy and only requires a few lines of code if you know what Markov Chains are. After modeling the problem as a Markov Chain, the solution is just a matter of finding the expected number of steps required to reach the desired state.</p>
    </div>

    {% capture cover_img %}
        {% file_exists {{ page.image | relative_url }} %}
    {% endcapture %}
    {% if cover_img contains "true" %}
        <div class="mt-5 bg-img-cover fade-in-up" data-scroll data-scroll-position="top" style="background-image: url('{{ page.image | relative_url }}')"></div>
    {% else %}
        {% assign rand = "now" | date: "%s%N" | modulo: 3 %}
        {% assign cover_imgs = page.default_cover_imgs %}
        <div class="mt-5 bg-img-cover fade-in-up" data-scroll data-scroll-position="top" style="background-image: url('{{ cover_imgs[rand] | prepend: "/assets/images/projects/default/" | relative_url }}')"></div>
    {% endif %}
    <p class="text-muted my-2" style="float: right;">Photo by <a href="https://unsplash.com/@erictompkins?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Eric Tompkins</a> on <a href="https://unsplash.com/s/photos/sidewalk-game?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

    <div class="row align-items-center justify-content-center mt-8" data-scroll data-scroll-position="bottom">
    <div class="col text-center">
        <h4 class="text-muted">This blog post will be available soon.</h4>
    </div>
</div>

    <!-- /Page Content -->
</section>
